{% extends 'base.html' %}

{% block title %}All Feedbacks{% endblock %}

{% block content %}

	<div class="container-fluid">
		<div class="row">
			{% for fb in feedbacks %}
				<div class="card item">
					<a href="/users/{{ fb.user.username }}">
						<h5 class="card-header bg-info text-white font-italic">
							by {{ fb.user.first_name }} {{ fb.user.last_name }}
						</h5>
					</a>
					<div class="card-body">
						<h5 class="card-title">{{ fb.title }}</h5>
						<p class="card-text">{{ fb.content }}</p>
						{#<a href="#" class="btn btn-primary">Go somewhere</a>#}
						<form><button type="submit" formaction="/feedback/{{ fb.id }}/delete" formmethod="POST">Delete</button></form>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
