{% extends 'base.html' %}

{% block title %}All Feedbacks{% endblock %}

{% block content %}

	<div class="container-fluid border">
		<div class="row">
			{% for fb in feedbacks %}
				<div class="card list-item shadow">
					<a href="/users/{{ fb.user.username }}">
						<h5 class="card-header bg-primary text-white font-italic">
							by {{ fb.user.first_name }} {{ fb.user.last_name }}
						</h5>
					</a>
					<div class="card-body">
						<h5 class="card-title">{{ fb.title }}</h5>
						<p class="card-text">{{ fb.content }}</p>

					</div>
					<div class="card-footer bg-transparent p-0">
						<form class="list-form">
							{#							{% if session['username'] == fb.user.username or authorizations == 'all' or 'update_feedback' in authorizations %}#}
							{% if is_authorized(fb.user.username, 'update_feedback') %}
								<button type="submit"
												class="list-button bg-info float-left border"
												formaction="/feedback/{{ fb.id }}/update"
												formmethod="POST">Edit
								</button>
							{% endif %}
							{% if is_authorized(fb.user.username, 'delete_feedback') %}
								<button type="submit"
												class="list-button bg-danger float-right border"
												formaction="/feedback/{{ fb.id }}/delete"
												formmethod="POST">Delete
								</button>
							{% endif %}
						</form>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
