$bootstrap-primary: #0275d8;
$bootstrap-info: #5bc0de;
$bootstrap-dark: #343a40;
$bootstrap-warning: #ffc107;
$bootstrap-danger: #dc3545;
$bootstrap-border: 1px solid rgba(0, 0, 0, 125);
$bootstrap-card-border-radius: calc(0.25rem - 1px);


html, body, form {
  width: 100%;
  height: 100%;
}

.form, .card, .card-body, .card-footer, .row {
  width: 100% !important;
}

.nav {
  //border: 1px solid magenta;
}

.navbar-nav, .nav-link, .nav-item {
  color: white !important;
  display: inline-block;
}

.navbar-expand-lg {
  justify-content: space-between !important;
}

.navbar-nav {
}

.nav-item {
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}

.nav-link:active, nav-link:visited {
  color: white;
}

.nav-link:hover, nav-item:active {
  color: $bootstrap-dark !important;
  background: $bootstrap-info !important;
  font-weight: bold !important;
}

.card {
  display: inline-block;
  min-width: 16em !important;
  max-width: 30% !important;
}

.container {
}

.container, .container-fluid {
  min-width: 85% !important;
}

.card-footer {
}

.list-item {
  margin: 1em;
  flex-grow: 1;
  max-width: 30%;
}

.list-button {
  border: none;
  width: 100% !important;
  margin: 0 !important;
  display: inline-block !important;
}

.list-button::after {
}

.row {
}

.list-form {
  display: flex;
  padding: 0 !important;
}

.list-form button:last-child {
  border-radius: 0 0 $bootstrap-card-border-radius 0 !important;
}

.list-form button:first-child {
  border-radius: 0 0 0 $bootstrap-card-border-radius !important;
}

.card-footer {
  border-top: none !important;
}

