{% extends 'base.html' %}

{% block title %}{{ user.full_name }}{% endblock %}}

{% block content %}

	<div class="row">

		<div class="col-sm-10 col-12">

			<h2 class="mt-4">Feedback</h2>

			<ul>
				{% for feedback in user.feedback %}

					<li>
						{{ feedback.title }}
						<small>{{ feedback.content }}</small>
					</li>

					<form>
						{{ form.hidden_tag() }}
						{% if is_authorized(user.username, 'update_feedback') %}
							<button class="btn btn-info btn-sm"
											formmethod="GET"
											formaction="/feedback/{{ feedback.id }}/update">
								Edit
							</button>
						{% endif %}
						{% if is_authorized(user.username, 'delete_feedback') %}
							<button class="btn btn-danger btn-sm"
											formmethod="POST"
											formaction="/feedback/{{ feedback.id }}/delete">
								Delete
							</button>
						{% endif %}
					</form>

				{% endfor %}
			</ul>

			{% if is_authorized(user.username, 'add_feedback') %}
				<p>
					<a href="/users/{{ user.username }}/feedback/new"
						 class="btn btn-info btn-sm">
						Add feedback
					</a>
				</p>
			{% endif %}
			{% if is_authorized(user.username, 'delete_user') %}
			<form>
				<button class="btn btn-danger btn-sm"
								formaction="/users/{{ user.username }}/delete"
								formmethod="POST">
					Delete User
				</button>
			</form>
			{% endif %}
		</div>
	</div>

{% endblock %}
