$bootstrap-primary: #0275d8;
$bootstrap-info: #5bc0de;
$bootstrap-dark: #343a40;

.nav {
  border: 1px solid magenta;
}

.navbar-nav, .nav-link, .nav-item {
  color: white !important;
  display: inline-block;
}

.navbar-expand-lg {
  justify-content: space-between !important;
}

.navbar-nav {
  //border: 1px solid red;

}

.nav-item {
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;

}

.nav-link:active, nav-link:visited {
  color: white;
}

.nav-link:hover, nav-item:active {
  color: $bootstrap-dark !important;
  background: $bootstrap-info !important;
  font-weight: bold !important;
}

.card {
  display: inline-block;
  min-width: 16em !important;
  max-width: 30% !important;
}

.container {
  //border: 1px solid magenta;
}

.container, .container-fluid {
  min-width: 85% !important;
  //border: 1px solid orange !important;
  //display: flex !important;
  //flex-direction: row !important;
  //flex-wrap: wrap !important;
  //justify-content: space-between !important;
  //align-items: stretch !important;
  //align-content: space-between !important;
}

.item {
  //flex-basis: auto;
  //justify-content: space-between;
  margin: 1em;
  flex-grow: 1;
  max-width: 30%;
}

.row {
  //min-width: 100% !important;
  justify-content: space-around;
  //border: 3px solid black;
}

.col-md-3 {
  //min-width: 32% !important;
  //max-width: 32% !important;
}

.col-lg-3 {
  //min-width: 22% !important;
  //max-width: 22% !important;
}
